body{
    
}


.price-chart {
    padding:5px;
}

.date-input{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1em;
}

nav{
    width: 100%;
    display: block;
}

.navbar-list{
    display: flex;
    background-color: #00c5ff36;
    align-items: center;
    justify-content: center;
}

.navbar-list > * {
    padding: 10px;
}

.date-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time{
    display: flex;
    align-items: center;
    flex-direction: row;
}

input{
    background-color: transparent;
}

.prices{
    margin-top:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-circle{
    border: 3px solid #898989;
    aspect-ratio: 1 / 1;
    background-color: white;
    width: fit-content;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:5px;
}

Footer{
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding:20px;
    display: none;
}

.footer-list{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    Footer {
      display: block;
    }

    nav{
        display: none;
    }
  }